{% extends 'base.html' %}

{% block title %}
    <title>Create New Note</title>
{% endblock %}

{% block content %}

    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary my-5">Submit</button>
        <a href="{% url 'notes:note_list'%}" class="btn btn-secondary">Cancel</a>
    </form>
    
    {% if form.errors %}
    <div class="alert alert-danger my-5">
        {{form.errors.title.as_text}}
    </div>
    {% endif %}

{% endblock %}